<div class="container py-2">
  <div class="row">
    <%= render "shared/sidebar_nav"%>
    <div class="col-7">
        <div class="mb-3">
          <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold"%>
        </div>
        <div class="mb-3">
          <%= render "shared/chirp_form"%>
        </div>
        <div id="chirps">
          <%= render partial: "chirps/chirp", collection: @chirps, as: :chirp_presenter %>
        </div>
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>