<%= form_with model: Chirp.new, url: chirps_path, method: :post, data: { controller: 'chirp-form'} do |f| %>
    <%= f.text_area :body, placeholder: "What's happening?", class: "form-control bg-light chirp-input w-100 mb-3" %>
    <div class="d-flex justify-content-end">
        <%= f.submit "Chirp", class: "btn btn-primary rounded-pill" %>
    </div>
<% end %>